 
 <div class="container" id="table">
    <table class="table  border-dark" id="allordertable">
<h3 style="font-weight: 400;">Order details</h3>
  <thead>
    <tr>
      
      <th scope="col">Date</th>
      <th scope="col">OrderId</th>
      <th scope="col">UserId</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Pin</th>
      <th scope="col">Mobile</th>
      <th scope="col">Total Price</th>
      <th scope="col">Payment Method</th>

    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <td>{{this.Date}}</td>
      <td>{{this._id}}</td>
       <td>{{this.UserId}}</td>
      <td>{{this.deliveryStatus.Name}}</td>
      <td>{{this.deliveryStatus.Address}}</td>
      <td>{{this.deliveryStatus.PIN}}</td>
      <td>{{this.deliveryStatus.Mobile}}</td>
      <td>{{this.Total}}</td>
      <td>{{this.Paymentmethod}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

<script>
  $(document).ready( function () {
$('#allordertable').DataTable();
} );
</script>