<div class="container w-100" id="viewProduct">
<table class="table mt-5" id="tableview">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Model</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Model}}</td>
      <td>{{this.Price}}</td>
      <td><img src="/images/{{this._id}}.jpg" style="width: 6em; height: 6em;"></td>
<td><a href="/admin/edit-product/{{this._id}}" class="btn btn-info">Edit</a></td>
<td><a href="/admin/delete-product/{{this._id}}" class="btn btn-danger">Delete</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
<script>
  $(document).ready( function () {
$('#tableview').DataTable();
} );
</script>
